@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variable */
@layer base {
  :root {
    font-family: Estedad, sans-serif;
  }

  input , textarea {
    box-shadow: inset 6px 6px 10px rgba(174, 174, 192, .4), inset -6px -6px 10px #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000;
    color: #85a4c4;
    border-radius: 1rem;
    padding: 1rem;
    display: block;
    width: 100%;
    line-height: 1.5;
    vertical-align: middle;
  }
}

@layer components {
  /* Header Card */
  .header-card {
    @apply container flex justify-between items-center max-w-[80rem] px-7 mx-auto my-6;
  }
  /* Main Card */
  .main-card {
    @apply container max-w-[80rem] mx-auto p-5;
  }
  /* Footer Card */
  .footer-card {
    @apply flex flex-col items-center my-16;
  }
  /* Box Card */
  .box-card {
    @apply neop-box relative rounded-[2rem] transition-shadow duration-300;
  }
  /* 
  Give This Class For Neophorism Boxes 
  Neophorism + Links 
  */
  .neop-box {
    box-shadow: 6px 6px 10px rgba(174, 174, 192, 0.4), -6px -6px 10px #fff;
  }

  a.neop-box:hover , .neop-box.hover:hover {
    box-shadow: 11px 11px 18px rgba(174, 174, 192, 0.4), -10px -10px 16px #fff;
  }

  .neop-box:hover .link-arrow {
    opacity: 1;
  }

  .neop-box:hover .link-arrow i {
    transform: rotate(90deg);
  }

  /* Social Medias Neophorism + Hover & Active */
  .neop-social {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: 6px 6px 10px rgba(174, 174, 192, 0.4), -6px -6px 10px #fff;
    @apply h-11 w-11 rounded-full text-social flex items-center justify-center;
  }

  .neop-social:hover {
    box-shadow: 11px 11px 18px rgba(174, 174, 192, 0.4), -11px -11px 18px #fff;
  }
  .neop-social:active , .neop-social.active {
    box-shadow: inset 6px 6px 10px rgba(174, 174, 192, 0.4),
      inset -6px -6px 10px #fff;
  }
  /* Neophorism Buttons Styles */
  .neop-button {
    box-shadow: -7px -7px 12px #fff, 7px 7px 12px rgba(174, 174, 192, 0.4);
    border: 1px solid rgba(255, 255, 255, 0);
  }

  .neop-button:hover {
    border-color: rgba(255, 255, 255, 0.05);
    box-shadow: -13px -13px 20px #fff, 13px 13px 20px rgba(174, 174, 192, 0.4);
  }

  .neop-button:active , .neop-button.active {
    box-shadow: inset -6px -6px 10px #fff,
      inset 6px 6px 10px rgba(174, 174, 192, 0.4) !important;
  }
 /* Neophorism Badges Styles */
 .neop-badge {
  box-shadow: inset -6px -6px 10px #fff,
   inset 6px 6px 10px rgba(174, 174, 192, .4) !important;
 }

  /* Give This Class For Gradient Icons */
  .icon-color {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(135deg, #9ec5ff, #e1a6f8);
    -webkit-background-clip: text;
  }
}

@layer utilities {
  .ltr {
    direction: ltr;
  }
  .rtl {
    direction: rtl;
  }
}